
/********Global CSS Properties ******/
*
{
	box-sizing: border-box;
}

body
{
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 400;
	padding: 0px;
	margin: 0px;
	overflow-x:hidden;
	-webkit-font-smoothing: antialiased;
	color: #414840;
}

h1,h2,h3,h4,h5,h6,a 
{
	text-transform:initial;
	margin:0;
	padding:0;
	text-decoration:none;
	margin-bottom:0px;
    color:#E4E4E4;
}


h1,h2,h3,h4,h5,h6,p,a
{
    text-transform:initial;
    margin:0;
    padding:0;
    text-decoration:none;
    margin-bottom:0px;
    color:#E4E4E4;
    padding-bottom: 0px;

}
a
{
	margin-bottom: 0px;
	padding-bottom: 0px	;
}

h1
{
	
  	font-family: 'Libre Baskerville', serif;
  	font-size:57px;
  	font-weight: 400;
  	line-height: 1.1;
  	color: #343D33;

}

h2
{
	font-family: 'Libre Baskerville', serif;
	font-size: 45px;
	font-weight: 400;
	line-height: 1.1;
	color: #343D33;
}

h3
{
	font-family: 'Libre Baskerville', serif;
	font-size: 23px;
	font-weight: 400;
	line-height: 25.3px;
	color: #475F45;
	padding-bottom: 0px	;
}

h4 
{
	font-size: 14px;
	font-weight: 500;
	line-height: 1.3;
	color: #343D33;
}

h5
{
	font-size:14px;
	font-weight: 500;
	line-height: 1.3;
	color: #343D33; 
}

h6
{
	font-size: 14px;
	font-weight: 500;
	line-height: 1.3;
	color: #343D33;
}

p
{
	font-size: 25px;
	font-weight: 300;
	line-height: 1.5;
	color: #414840;
	line-height :30px;
}

a
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight:700;
	color: #475F45;
	padding: 15px 30px;
	border: 1px solid #475F45;
	line-height: 1.14;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	transition: all .2s ease-in-out;
}

a:hover
{	
	color: #475F45;
	border-color: #475F45;
	transition: all .2s ease-in-out;

}

ul
{
	list-style: none;
    margin: 0;
    padding: 0;
}
img
{
	width: 100%;
}

.content-wrapper
{
	max-width:1190px ;
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	padding-right: 40px;
}

/******** Header Css *********/

.head-section-row
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	column-gap: 50px;
}

.nav-menu
{
	display: flex;

}

.nav-menu .head-btn
{
	border: 1px solid;
	margin-left:40px;
}


a.nav-list
{
	border: none;
	padding: 0px 10px;
	margin: 0px;
}

a.head-btn:hover {
    background: #475F45;
    color: #fff;
}

.head-section
{
	padding: 15px 0px 0px 0px;
}

.logo
{
	width: 263px;
}

#mobile-menu
{
	display: none;

}

.menu-btn-burger
{
	display: none;
}


/********* Mobile Menu ************/

#mobile-menu
{
	position: absolute;
	background: #475F48;
	left: 0;
	top: 80px;
	width: 100%;
	transition: all .5s ease-in-out;
	padding: 40px 0px 60px 0px;
}

#mobile-menu a {
    color: #fff;
    padding: 15px 0px;
    text-decoration: none;
    font-size: 15px;
    margin: 0 auto;
    display: block;
    max-width: 200px;
    text-align: center;
    font-weight: 500;
    transition: all .5s ease-in-out;
}

#mobile-menu a:hover {
    transform: translate(0px, -8px);
    transition: all .5s ease-in-out;
}

a.head-btn {
    border-color: #fff;
}

#mobile-menu h4 {
    color: #fff;
    font-family: 'Libre Baskerville', serif;
    font-size: 34px;
    font-weight: normal;
    line-height: 110%;
    padding-bottom: 60px;
    text-align: center;
}


/************ Section a ***************/

.section-a 
{
	padding: 100px 0px;
}
.section-row-a
{
	display: flex;
	align-items: center;
	text-align: left;
	justify-content: space-between;

}

.section-left h1
{
	color: #343D33;
	max-width: 528px;
}

.section-left p
{
	max-width: 471px;
	padding-top: 15px;
}

.section-btn
{
	padding: 32px 0px;
}

.section-btn .btn1 {
    background: #475F45;
    border: 1px solid #475F45;
    color: #fff;
    margin: 0px 8px 0px 0px;
}

.section-btn .btn1:hover
{
	background: transparent;
	color: #343D33;
}


.section-btn .btn2
{
	margin: 0px 0px 0px 8px;
}

.section-btn .btn2 {
    border-color: #475F45;
    color: #475F45;
}

.section-btn .btn2:hover
{
    background:#475F45;
    color: #fff;
}


/********* Section b ***************/

.section-b 
{
    padding: 90px 0px 40px 0px;
    background: #343D33 url(images/bg-sectiona.png) no-repeat;
    background-position: right center;
}

.section-top
{
	display: flex;
	text-align: left;
	column-gap: 75px;
}

.section-top img
{
	width: 599px;
}

.section-top h2
{
	max-width: 506px;
	color: #fff;
}

.section-top p
{
	max-width: 512px;
	color: #fff;
	font-size: 20px;
	padding-top: 32px;
}

.section-top a:hover
{
	transform: translate(0px, -10px);
	transition: all .5s ease-in-out;
}
.section-top a
{
	color: #fff;
	border: 1px solid #fff;
	margin-top: 40px;
	display: inline-block;
	border:  1px solid #fff;
	transition: all .5s ease-in-out;
}


.section-bottom
{
	padding: 83px 0px 40px 0px;
}

.section-mob-right
{
	display: none;
}

/*********Sectiion C **************/
.section-c
{
	padding: 96px 0px;
}

.view-port
{
	display: flex;
	align-items: center;
	padding: 20px 0px;
}

.vertical-line
{
	border-top: 3px solid #475F45;
	width: 131px;
	opacity: 40%;
}
.view-port img
{
	width: 173px;
	padding: 5px 20px;
}

.section-c-col
{
	display: flex;
	flex-direction: row;
	column-gap: 50px;
}

.left img
{
	max-width: 520px;
}
.left h3
{
	padding: 20px 0px 0px 0px;
}

.left p
{
	font-size: 16px;
	font-weight: 400;
	max-width: 471px;
	padding: 12px 0px;
	color: #414840;
}

.left h4
{
	font-style: italic;
	color: #343D33;
	font-weight: 400;

}
.right-sec {
    display: flex;
    column-gap: 20px;
    align-items: flex-start;
    padding-bottom: 20px;
    border-bottom: 1px solid #c4c4c4;
}
.insec
{
	padding-top: 20px;
}

.right-sec img
{
	max-width: 236px;
}

.right-sec p
{
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 12px 0px;
	max-width: 360px;
}

.right-sec h4
{
	font-style: italic;
	font-size: 14px;
	font-weight: 400;
}

/******************Footer ****************/

footer
{
	background: #414840;
}

.footer-row
{
	display: flex;
	align-items: flex-start;
	color: #fff;
	justify-content: space-between;
	padding: 48px 0px 30px 0px;
}

.footer-row img
{
	max-width: 221px;
}

.footer-row p
{
	max-width: 269px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #fff;
	padding-top: 20px;
}

.footer-row h4
{
	color: #fff;
	font-family: 'Libre Baskerville', serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 17.6px;
}

.footer-row ul
{
	margin-top: 20px;
}

.footer-row ul li 
{
	font-size: 14px;
	font-weight: 400;
	padding: 5px 0px;
}

.soc-icons
{
	padding: 23px 0 0 0;
}

.footer2
{
	padding: 30px 0px;
	background: #343D33;
}
.footer-row-2
{
	text-align: center;

}

.footer-row-2 p
{
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #fff;
}



/********** Responsive for Tab ************/

@media (max-width: 744px)
{
	.content-wrapper
	{
		padding-left: 20px;
		padding-right:20px;
	}

	.nav-menu
	{
		display: none;
	}

	.logo 
	{
	    width: 100%;
	    max-width: 215px;
	}

	.menu-btn-burger
	{
		min-width: 35px;
		height: 2px;
		background: #343D33;
		border-radius: 5px;
		box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
		transition: all .5s ease-in-out;
		display: flex;
		cursor: pointer;
		position: relative;
	}

	.menu-btn-burger::before, .menu-btn-burger::after
	{
		content:'';
		position: absolute;
		width:100%;
		height: 2px;
		background: #343D33;
		border-radius: 5px;
		box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
		transition: all .5s ease-in-out;
	}

	.menu-btn-burger::before
	{
		transform: translateY(-11px);
	}

	.menu-btn-burger::after
	{
		transform: translateY(11px);
	}


	.menu-btn-burger.open 
	{
		transform: translateX(-50px);
		background: transparent;
		box-shadow: none;
	}

	.menu-btn-burger.open::before
	{
		transform: rotate(45deg) translate(35px,-35px);
	}

	.menu-btn-burger.open:after
	{
		transform: rotate(-45deg) translate(35px,35px);
	}

	.section-a 
	{
   		 padding: 70px 0px;
	}

	.section-row-a
	{
	    display: flex;
	    align-items: center;
	    text-align: center;
	    flex-direction: column;
	}

	.section-right
	{
		padding: 75px 0px 0px 0px;
	}
	.section-right img
	{
		max-width: 378px;
	}

	.section-left p
	{
		padding-top: 24px;
		font-size: 22px;
	}

	.section-right h1
	{
		font-size: 45px;
	}

	.section-top
	{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.section-top-right
	{
		display: none;

	}

	.section-top img
	{
		width: 100%;

	}
	.section-bottom {
	    padding: 40px 0px 60px 0px;
	}

	.section-mob-right
	{
		display: block;
	}

	.section-mob-right h2
	{
		max-width: 417px;
		color: #fff;
	}
	.section-mob-right p
	{
		max-width: 400px;
		color: #fff;
		font-size: 20px;
		padding: 32px 0px;
	}

	.section-mob-right a
	{
		border-color: #fff;
		color: #fff;
		display: inline-block;
	}

	.section-b
	{
		padding: 96px 0px 83px 0px;
	}


	.section-c
	{
		padding:65px 0px 48px 0px;
	}
	
	.section-c-col 
	{
	    display: flex;
	    flex-direction: column;
	}

	.left img 
	{
	   
	    width: 100%;
	}

	.left {
	    display: flex;
	    column-gap: 24px;
	}

	.right {
	    padding: 40px 0px 0px 0px;
	}

	.right-sec p 
	{
	    max-width: 354px;
	}

	.footer-row p {
	    max-width: 220px;
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 21px;
	    color: #fff;
	    padding-top: 14px;
	}

	.left h3 {
	     padding: 0px;
	}


}


@media (max-width: 1185px)
{
	.nav-menu .head-btn 
	{
	    margin-left: 30px;
	}
	a.nav-list
	{
		font-size: 12px;
	}
}

@media (max-width: 1138px)
{
	a
	{
		font-size: 12px;
	}
	a.nav-list
	{
		padding: 0px 7px;
	}
	.logo
	{
		width: 235px;
	}

	.nav-menu a
	{
		padding: 10px 20px;
		font-size: 11px;
	}

	.nav-menu .head-btn
	{
		margin-left: 20px;
	}
	.nav-menu .head-btn a
	{
	   
	    font-size: 11px;
	}

}

@media (max-width: 1096px)
{
	a
	{
		font-size: 11px;

	}

	a.nav-list
	{
		padding: 0px 5px;
	}
	.logo
	{
		width: 215px;
	}
	.nav-menu a
	{
		padding: 8px 18px;
	}
}

@media (max-width: 1050px)
{
	.nav-menu a {
	    padding: 8px 10px;
	    font-size: 10px;
	}

	.nav-menu .head-btn a
	{
	   
	    font-size: 10px;
	}

}

@media (max-width: 916px)
{
	.head-section-row
	{
		column-gap: 25px;
	}
	.nav-menu .head-btn {
	    margin-left: 10px;
	}

}

@media (max-width: 880px)
{
	.head-section-row 
	{
	    column-gap: 15px;
	}

	.nav-menu .head-btn a
	{
	    font-size: 15px;
	}

	.nav-menu .head-btn
	{
		margin-left: 3px;
	}
	.nav-menu a {
	    padding: 4px 5px;
	    font-size: 8px;
	}
}

@media (max-width: 600px)
{
	.left 
	{
	    display: flex;
	    flex-direction: column;
	}

	.footer-row 
	{
	    display: flex;
	    align-items: flex-start;
	    justify-content: space-between;
	    padding: 51px 0px;
	    flex-direction: column;
	}

	.footer-row img {
	    max-width: 221px;
	}

	.footer-row p {
	    max-width: 220px;
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 21px;
	    padding: 20px 0px;
	}

	.footer-row h4 
	{
	    font-size: 16px;
	    font-weight: 400;
	    line-height: 17.6px;
	    padding: 20px 0;
	}
	.footer-row ul 
	{
	    margin-bottom: 20px;
	}

	.soc-icons {
	    padding: 0px;
	}

}


@media (max-width: 520px)
{
	.right-sec {
	    display: flex;
	    flex-direction: column;
	    align-items: flex-start;
	}
	.right-sec h3 {
	    padding-top: 20px;
	}

	.left h3 
	{
	    padding-top: 20px;
	}
	.section-btn .btn1 
	{
	    margin:0px;
	}

	.section-btn .btn2 
	{
		margin: 0px;
	}
}
/******** Mobile Responsive ************/

@media (max-width: 375px)
{
	

	.head-section-row
	{
		column-gap: 80px;
	}

	.section-right img {
	    width: 100%;
	}

	.section-left h1
	{
		font-size: 34px;

	}
	.section-left p
	{
		padding-top: 15px;
		font-size: 20px;
	}

	.section-btn
	{
		display: flex;
	}

	.section-btn .btn1 {
	    margin: 0px 3px 0px 0px;
	}
	.section-btn .btn2 {
	    margin: 0px 0px 0px 3px;
	}

	.section-btn a 
	{
	    font-size: 11px;
	}

	.section-b {
	    padding: 48px 0px 48px 0px;
	}

	.section-bottom {
	    padding: 32px 0px 40px 0px;
	}
	.section-mob-right h1
	{
		font-size: 34px;
	}

	.section-mob-right p
	{
		font-size: 16px;
	}

	.section-mob-right h2 
	{
	    font-size: 34px;
	}
	.section-c
	{
		padding: 40px 0px;
	}

	.section-c h2
	{
		font-size: 34px;
		text-align: center;
	}

	.section-c-col {
	    display: flex;
	    flex-direction: column;
	}

	.left {
	    display: flex;
	    column-gap: 24px;
	    flex-direction: column;
	}
	.left img {
	    width: 100%;
	}

	.right-sec 
	{
	    display: flex;
	    flex-direction: column;
	    align-items: flex-start;
	}

	.right-sec h3
	{
		padding-top: 20px;
	}

	.right-sec p {
	    max-width: 354px;
	}

	.footer-row 
	{
	    display: flex;
	    align-items: flex-start;
	    justify-content: space-between;
	    padding: 51px 0px;
	    flex-direction: column;
	}

	.footer-row img {
	    max-width: 221px;
	}

	.footer-row p {
	    max-width: 220px;
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 21px;
	    padding: 20px 0px;
	}

	.footer-row h4 
	{
	    font-size: 16px;
	    font-weight: 400;
	    line-height: 17.6px;
	    padding: 20px 0;
	}
	.footer-row ul 
	{
	    margin-bottom: 20px;
	}

	.soc-icons {
	    padding: 0px;
	}

	#mobile-menu{
	    padding: 32px 0px 50px 0px;
	}
	#mobile-menu h4 
	{
	    padding-bottom: 65px;
	    font-size: 23px;
	    line-height: 25.3px;
	}

	
}

@media (max-width: 301px)
{
	.section-btn 
	{
	    display: flex;
	    flex-direction: column;
	    
	}

	.section-btn .btn1 {
	    margin: 0px 0px 10px 0px;
	}
	.section-btn .btn2 {
	    margin: 0px;
	}
}



